        <div class="comment">
          <p>
            <span class="score {{ comment["Score"] | scale }}">{% if comment["Score"] != 0 %}{{ comment["Score"] }}{% endif %}</span>
            <span class="text">{{ comment["Text"] | urlize | markdown }}</span>
            –
            <a href="{{ rooturl }}/user/{{ comment["UserDisplayName"] | slugify }}.html">{{ comment["UserDisplayName"] }}</a>
            <span class="date" title="{{ comment["CreationDate"] }}">{{ comment["CreationDate"] }}</span>
            </p>
        </div>
